.box-status-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 9rem;
    background-color: #ffffff99;
}

.team-title {
    color: #000;
    font-size: 3rem;
    font-weight: bold;
}

.link-search-hero {
    color: #000;
    font-size: 2rem;
    padding: 0.1rem;
    border-radius: 1rem;
    text-decoration: none;
}
.link-search-hero:hover {
    color: #d00;
    text-decoration: none;
}
